<div class="row mt-5 mb-2" style="padding-left: 20px;">
  <a href='/reset' class="btn btn-outline-primary btn-sm"
     onclick="
       var el = document.getElementById('blockingModal');
       bootstrap.Modal.getOrCreateInstance(el).show();
       return true;
     ">
    Reset
  </a>
</div>
<div class="row mb-2" style="padding-left: 20px;">
  <a href='/save' class="btn btn-outline-primary btn-sm"
     onclick="
       var el = document.getElementById('blockingModal');
       bootstrap.Modal.getOrCreateInstance(el).show();
       return true;
     ">
    Save
  </a>
</div>
